*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}

.header{
  min-width: 320px;
  min-height: 120px;
  background-color: black;
  flex-direction: row;
  justify-content:space-between ;
  align-items: center;
}
.list{
  align-self: center; 
}
.link{
  text-decoration: none;
  color: aliceblue;
  padding: 10px;
  font-size: 17px;
}
.logo{
  font-size: 28px;
}
