*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex{
  display: flex;
}

.header{
  min-width: 320px;
  min-height: 140px;
  background-color: black;
  flex-direction: row;
  justify-content:space-between ;
  align-items: center;
  flex-wrap: wrap;
}
.list{
  flex-wrap: nowrap; 
}
.link{
  text-decoration: none;
  color: aliceblue;
  padding: 10px;
  font-size: 3vh;
}
.link:hover{
  color: blueviolet;
}
.logo{
  font-size: 5vh;
}
.logo:hover{
  color: tomato;
}
.margin{
  margin: 25px 10px;
}
.button{
  border: 2px solid white;
}
.button:hover{
  color: black;
  background:gold;
}
.font{
  font-size: 4vh;
}